.message-info{
    width: fit-content ;
    border: 1px solid grey;
    border-radius: 5px;
    color: #403e93;
    background: #d0defc;
    padding: 8px;
    margin: 8px;
}
.message-success{
    width: fit-content;
    border: 1px solid grey;
    border-radius: 5px;
    color: #3e784c ;
    background: #d6f2dc ;
    padding: 8px;
    margin: 8px;
}

.message-warning{
    width: fit-content;
    border: 1px solid grey;
    border-radius: 5px;
    color: #97883a;
    background: #fcface ;
    padding: 8px;
    margin: 8px;
}
.message-error{
    width: fit-content;
    border: 1px solid grey;
    border-radius: 5px;
    color: #863748;
    background: #f4d4d7;
    padding: 8px;
    margin: 8px;
}

/*@keyframes example {*/
/*    from {background-color: black;}*/
/*    to {background-color: white;}*/
/*}*/

/*@keyframes example {*/
/*    0%   {background-color: red;}*/
/*    25%  {background-color: yellow;}*/
/*    50%  {background-color: blue;}*/
/*    100% {background-color: green;}*/
/*}*/

/*div {*/
/*    background-color: white;*/
/*    animation-name: example;*/
/*    animation-duration: 4s;*/
/*}*/

/*div {*/
/*    width: fit-content;*/
/*    height: fit-content;*/
/*    background-color: white;*/
/*    animation-name: example;*/
/*    animation-duration: 4s;*/
/*}*/

